doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href!="<%= BASE_URL %>reset-style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&subset=cyrillic-ext")
        //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(rel="stylesheet", href!="<%= BASE_URL %>main.css")
        link(rel="icon", href!="<%= BASE_URL %>favicon.ico")
        title Рейтинг сериалов MovieRate.info
    body
        noscript sorry js dont work
        #app.app
            Head-Component
            router-view(name="content")
            Footer-Component